<h1>Create New User</h1>
<% if(locals.message) { %>
  <p><%= message %></p>
<% } %>
<form method="POST" action="/register">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
  </div>
  <div>
    <label for="imageURL">Image (URL)</label>
    <input type="text" name="imageURL" id="imageURL">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>
  <div>
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" required>
  </div>

  <button class="button">Register</button>
</form>
