body {
  background: #d6d6d6;
  padding-top: 70px;
}

bg-dark {
  background: #0b244c;
}

button {
  cursor: pointer;
}


.headline {
  padding-left: 0;
}

h4, .comment-box, p {
  font-size: 12px;
}

.delete-comment {
  display: inline;
}

.delete-comment-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #007bff;
}

.delete-comment-btn:hover {
  color: #0056b3;
  text-decoration: underline;
}

.new-post-container {
  background: white;
  padding: 10px;
}

.profile-pic {
  width: 100%;
  border-radius: 100px;
  margin: 0 auto;
}

.profile-info {
  text-align: center;
  margin: 0 auto;
}

.post-prompt {
  padding-left: 7px;
  margin-bottom: 0;
  margin-top: -4px;
}

.new-post-info {
  width: 80%;
  margin: 2px;
  font-size: 12px;
}

.poster-info {
  margin-top: 14px;
}

.post-container {
  background: white;
  border-radius: 0px 24px 24px 24px;
  margin: 14px 0;
}

.action-container {
  margin: 6px 0 4px 0;
}

.post-message {
  margin-top: 10px;
}

.post-song {
  float: right;
  font-size: 12px;
  line-height: 1;
  margin-right: 7px;
  margin-left: 6px;
}

.wall-post-vid {
  height: 260px;
  width: 100%;
}

.comment-box, .comment {
  width: 70%;
  display: inline-block;
}

.comment {
  margin-bottom: 2px;
}

.comment-box {
  margin-bottom: 12px;
  margin-top: 10px;
}

.post-comment {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .wall-post-vid {height: 180px;}
  .post-song {float: none;}
  .new-post-info {width: 95%;}
  .comment-box {width: 100%;}
  .post-comment {margin: 0 auto 12px auto;}
}

.gen-form label {
  margin-bottom: 0;
  margin-top: 10px;
}

.gen-form input {
  width: 60%;
  border-radius: 2px;
}
