$bg-blue: #0b244c;

.headline {
  padding-left: 0;
}

.new-post-container {
  background: #fff;
  padding: 14px 10px;
  border: 2px solid $bg-blue;
  border-radius: 10px;
}

.post-prompt {
  padding-left: 7px;
  margin-bottom: 0;
  margin-top: -4px;
}

.new-post-info {
  width: 80%;
  margin: 2px;
  font-size: 12px;
}

.post-song {
  float: right;
  font-size: 12px;
  line-height: 1;
  margin-right: 7px;
  margin-left: 6px;
}

.poster-info {
  margin-top: 14px;
}

.profile-pic {
  width: 100%;
  border-radius: 100px;
  margin: 0 auto 6px auto;
}

.profile-info {
  text-align: center;
  margin: 0 auto;
}

.post-container {
  background: #fff;
  border-radius: 0px 24px 24px 24px;
  margin: 14px 0;
  padding-bottom: 6px;
}

.post-message {
  margin: 12px 0 10px 0;
}

.wall-post-vid {
  height: 260px;
  width: 100%;
}

.action-container {
  margin: 6px 0 4px 0;
}

.comment-box, .comment {
  width: 70%;
  display: inline-block;
}

.comment-box, .new-post-info {
  border-radius: 4px;
  border: 1px solid #ccd0d4;
  padding-left: 2px;
}

.comment {
  margin-bottom: 2px;
}

.comment-box {
  margin-bottom: 12px;
  margin-top: 10px;
  font-size: 12px;
}

.post-comment {
  margin-top: 10px;
}

.delete-comment {
  display: inline;
}

.delete-comment-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #007bff;
}

.delete-comment-btn:hover {
  color: #0056b3;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .wall-post-vid {height: 180px;}
  .post-song {float: none;}
  .new-post-info {width: 95%;}
  .comment-box {width: 100%;}
  .post-comment {margin: 0 auto 12px auto;}
}

@media only screen and (max-width: 576px) {
  .profile-info {display: none;}
}
