<main class="about-pic">
  <div class="container about-container">
    <h1 class="about-text">An app to share music with friends.</h1>
    <br>
    <h3 class="about-text">TRAX is a simple tune-sharing platform for you and your friends.</h3>
    <h5 class="about-text">You can post all of the new music you like, have a chat and build a personal playlist of all   your favourite songs from the wall.</h5>
    <br>
    <% if (!locals.isLoggedIn) { %>
      <h5 class="about-text"><a href="/register">Create an account</a> in seconds to get started!</a></h5>
    <% } %>
  </div>
</main>
