<main class="background-pic">
</main>
<main class="container">
  <div class="twelve columns">
    <h1>PCont 2.0</h1>
    <h2>An app for sharing tunes with your friends.</h2>
  </div>
  <div class="twelve columns">
    <h2><a href="/login">Login</a></h2>
    <h2><a href="/register">Create Account</a></h2>
  </div>
</main>
