<main class="background-pic">
</main>
<main class="container">
  <div class="col-12">
    <h1>TRAX</h1>
    <h2>An app for sharing tunes with your friends.</h2>
  </div>
  <div class="col-12">
    <h3><a href="/login">Login</a></h3>
    <h3><a href="/register">Create Account</a></h3>
  </div>
</main>
