<main class="background-pic">
  <div class="container home-container">
    <h1 class="home-text brand-shadow huge">TRAX</h1><br>
    <h1 class="home-text">An app for sharing tunes with your friends.</h1><br>
    <h1 class="home-text"><a href="/login">Login</a></h1>
    <h1 class="home-text"><a href="/register">Create Account</a></h1>
  </div>
</main>
