<main class="background-pic">
  <div class="col-12 home-container">
    <h1 class="home-text brand-shadow">TRAX</h1><br>
    <h2 class="home-text">An app for sharing tunes with your friends.</h2><br>
    <h3 class="home-text bg-white"><a href="/login">Login</a></h3>
    <h3 class="home-text bg-white"><a href="/register">Create Account</a></h3>
  </div>
</main>
