<h1 class="playlist-header">Playlist</h1>
<div class="col-12">
  <div class="row">
      <% user.userPlaylist.forEach(post => { %>
      <% const videoID = youtubeParser(post.videoURL); %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <iframe class="playlist-vid" src="https://www.youtube.com/embed/<%= videoID %>" frameborder="0" allowfullscreen></iframe>
      <div class="playlist-action">
        <p>
          <a href="/posts#<%= post._id %>">View Details</a>
          <span class="float-right">
            <a href="/playlist/<%= post._id %>/remove">Remove</a>
          </span>
          </p>
      </div>
      </div>
      <% }) %>
  </div>
</div>
