<h1>Edit post</h1>
<form method="POST" action="/posts/<%= post.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <label for="caption">Caption</label>
    <input type="text" name="caption" id="caption" value="<%= post.caption %>" required>
  </div>
  <div>
    <label for="videoURL">Video Link</label>
    <input type="text" name="videoURL" id="videoURL" value="<%= post.videoURL %>" required>
  </div>
  <button class="button">Update</button>
