<h1>Edit post</h1>
<form class="gen-form" method="POST" action="/posts/<%= post.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <label for="caption">Message</label><br>
    <input type="text" name="caption" id="caption" value="<%= post.caption %>" required>
  </div>
  <div>
    <label for="videoURL">YouTube Link</label><br>
    <input type="text" name="videoURL" id="videoURL" value="<%= post.videoURL %>" required>
  </div>
  <br>
  <button class="button">Update</button>
</form>
<% if (locals.isLoggedIn && post.belongsTo(user)) { %>
  <form method="POST" action="/posts/<%= post.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <button class="button alert">Delete</button>
  </form>
<% } %>
