<h1>Post new track.</h1>
<form method="POST" action="/posts">
  <div>
    <label for="caption">Caption</label>
    <input type="text" name="caption" id="caption" required>
  </div>
  <div>
    <label for="videoURL">Video Link</label>
    <input type="text" name="videoURL" id="videoURL" required>
  </div>
  <button class="button">Post</button>
</form>
