$bg-blue: #0b244c;

.not-found-pic {
  width: 100%;
  height: 800px;
  background: url('../images/404.jpg') center /cover;
}

.not-found-container {
  padding-top: 100px;
}

.not-found {
  color: #fff;
  background-color: $bg-blue;
  display: inline-block;
  padding: 4px 10px;
}
