$bg-blue: #0b244c;

.about-pic {
  width: 100%;
  height: 1000px;
  background: url('../images/about.jpg') center /cover;
}

.about-container {
  padding-top: 100px;
}

.about-text {
  color: #fff;
  background-color: $bg-blue;
  display: inline-block;
  padding: 4px 10px;
}

.about-large {
  font-size: 2rem;
}

.about-medium {
  font-size: 1.5rem;
}
